body {
	margin: 0;
	background-color: #fff3e4;
	position: relative;
	background-image: url(/images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	background-color: #2f5d62;
	width: 100%;
	position: fixed;
	top: 0;
}

.logo {
	width: 8%;
	padding-left: 5px;
}

.signup a, .login a {
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-left: 10px;
	position: absolute;
	right: 25px;
	top: 25px;
	text-decoration: none;
}

.login a:hover, .signup a:hover {
	color: #000;
	transition: 0.8s;
}

form {
	margin: 5% 25% 5% 35%;
	background-color: #a7c4bc;
	width: 25%;
	padding: 10px 25px 50px;
	margin-top: 100px;
	border-radius: 3%;
}
.route-container{
	padding: 10px 25px 10px;
}
.form-heading {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	color: #000;
	font-size: 25px;
	padding-bottom: 20px;
}
.bus-heading{
	color: #fff;
}
.route-heading{
	padding-bottom: 10px;
}

.btn {
	width: 80%;
	padding: 10px 30px;
	cursor: pointer;
	margin: 5% 10% 0% 10%;
	background: #2f5d62;
	border: 0;
	outline: none;
	border-radius: 30px;
	color: #fff;
	text-align: center;
}

.ticket{
	width: 30%;
	position: inherit;
	top: 95%;
	right: 25%;
	text-decoration: none;
}


.btn:hover {
	background-color: #fff;
	color: #000;
	border: #000 1px solid;
	transition: 0.5s;
}

.reg-btn {
	width: 35%;
	padding: 10px 30px;
	cursor: pointer;
	margin: 5% 5%;
	background: #2f5d62;
	border: 0;
	outline: none;
	border-radius: 30px;
	color: #fff;
	text-align: center;
	display: inline;
}
.bus-btn{
	width:5%;
	position: absolute;
	margin-top:1%;
	right:0;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px 15px;
}

.reg-btn:hover {
	background-color: #fff;
	color: #000;
	border: #000 1px solid;
	transition: 0.5s;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #2f5d62;
	text-align: center;
	height: 10%;
}

small {
	color: #fff;
	position: relative;
	top: 25%;
}

input, select, option {
	width: 100%;
	padding: 15px 0 0 0;
	margin: 5px 0 10px;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.checkbox {
	width: 10%;
}

span {
	color: #777;
	font-size: 15px;
	bottom: 34%;
	position: absolute;
}

.signup-span {
	color: #777;
	font-size: 15px;
	bottom: 17%;
	position: absolute;
}

.fpassword {
	color: #777;
}

.fpassword:hover {
	color: red;
	transition: 0.8s;
}

.fas {
	font-size: 30px;
}

#message, #login {
	color: red;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
}

#pmsg {
	width: 100%;
	display: none;
	margin-top: 0;
}

#strength {
	position: inherit;
}

.fa-circle-check {
	width: 100%;
	color: green;
}

.container {
	margin: 7% 10% 7% 10%;
}

#passanger1name{
	display: none;
}
#passanger2name{
	display: none;
}
#passanger3name{
	display: none;
}
#passanger1number{
	display: none;
}
#passanger2number{
	display: none;
}
#btn{
	display:none;
}
#label{
	display:none;
}
#passanger3number{
	display: none;
}
#totalfare{
	margin-bottom: -4.4%;
}
table {
	width: 1200px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
	width:300px;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #000;
	text-align: center;
}

thead th {
	background-color: #2f5d62;
}


tbody td {
	text-align: center;
}

tbody td:hover {
	
	background-color: #375c60;
}
